@model IEnumerable<DigitalHomeS.Models.DeviceModels>
@{
                /**/

                ViewBag.Title = "Набор девайсов пользователя";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DigitalHomeS.Controllers
@using Microsoft.AspNet.Identity
@using DigitalHomeS.Services
<p>
    @Html.ActionLink("Добавить Девайс", "Create")

</p>
//
<script>
      //  window.onload = function () {
        //    document.getelementById("btnChange").onclick = function (item) {
          //      https://digitalhome.com.ua/api/OnOff/

            //}
        //}

</script>
<table>
    <tr>
        <th>Mac-adress девайса        |</th>
        <th>Тип                       |</th>
        <th>Статус                    |</th>
        <th>Время последней активности|</th>
        <th>Name user                 |</th>
    </tr>

    @foreach (var item in Model)
    {

        foreach (var c in item.Users)
        {
            <p> </p>
            string textButton;


    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.macadress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type_device)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_activ_time)
        </td>
        <td> @c.UserName</td>
        <td>


            <input type="hidden" value="@item" name="item" />

            @if (item.status == "1")
            {
                textButton = "Выкл";
            }
            else
            {
                textButton = "Вкл";
            }
            @Html.ActionLink("Редактировать", "ButtonZ", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })|
            @Html.ActionLink(textButton, "ButtonChange", new { id = item.Id }) |

        </td>
        <td>
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    @Html.LabelFor(modelItem => item.status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(modelItem => item.status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(modelItem => item.status, "", new { @class = "text-danger" })
                        <input type="submit" value="change" />

                    </div>
                }
        </td>
    </tr>
}

}
    }

</table>
<p>
<p>
    @{Html.RenderPartial("PartDev");}

</p>

