@model IEnumerable<DigitalHomeS.Models.DeviceModels>
@{
    ViewBag.Title = "Набор девайсов пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity
<p>
    @Html.ActionLink("Добавить Девайс", "Create")
</p>
<table >
    <tr>
        <th>Mac-adress девайса        |</th>     
        <th>Тип                       |</th>
        <th>Статус                    |</th>
        <th>Время последней активности|</th>
        <th>Name user                 |</th>
    </tr>

    @foreach (var item in Model)
    {
   
        foreach (var c in item.Users)
        {
    <p>
       
    </p>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.macadress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type_device)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_activ_time)
        </td>
        <td> @c.UserName</td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
        }
    }

</table>

